*{
    overflow: auto;
}

body{
    background-color: #8BA1BB;
    font-family: Arial;
    margin: 0;
}

p.categorie{
    background-color: black;
    color: white;
    max-width: fit-content;
    display: inline-block;
    padding: 8px 18px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
    margin-top: -15px;
}

.centre{
    text-align: center;
    width: 100%;
}

div.contenue{
    background-color: white;
    margin: 40px 8px 80px 8px;
    padding: 0px 6px 20px 6px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.4);
    overflow: visible;
}

h1{
    text-align: center;
    margin-bottom: 12px;
    margin-top: 10px;
}

p.desc{
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
}

div.desc{
    text-align: center;
}

div.categorie{
    margin-bottom: -18px;
    overflow: visible;
}

div.separateur{
    width: 100px;
    height: 1px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

table.info{
    position: absolute; 
    bottom:0; width: 100%; 
    color:white; 
    background-color: #6c829dC0; 
    height: 50px;
}

div.info{
    position: relative;
}

table.info td{
    text-align: center;
    font-size: 12px;
    vertical-align: top;
}

table.info th{
    font-size: 14px;
    vertical-align: bottom;
    padding-bottom: 8px;
}

img.info{
    display: block;
    max-height: 300px;
    max-width: 400px;
    object-fit: cover;
    min-height: 200px;
    background-color: lightgray;
}

div.colonne{
    width: 100%;
    margin-top: 20px;
}

div.colonne h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 5px solid #6c829d;
    padding-bottom: 5px;
}

div.colonne1{
    display: inline-block;
}

div.ingredients{
    text-align: center;
}

div.ingredients p{
    border: 1px solid lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    padding: 8px 0;
    margin-top: 4px;
    margin-bottom: 0;
}

table.preparation p.numero{
    background-color: #6c829d;
    color: white;
    text-align: center;
    width: 25px;
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
}

table.preparation td{
    vertical-align: top;
}

table.preparation td.preparation_etape{
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}

table.preparation tr{
    height: 40px;
}

/* Style pour ordinateur */
@media only screen and (min-width: 768px){

    div.contenue{
        min-width: 350px;
        margin: 60px 15% 80px 15%;
        padding: 0px 30px 30px 30px;
    }

    table.info{
        height: 80px;
    }

    table.info td{
        font-size: 14px;
    }
    
    table.info th{
        font-size: 16px;
    }

    div.colonne{
        width: 45%;
    }

    div.colonne1{
        display: inline-block;
        margin-right: 10%;
    }
    
    div.colonne2{
        float: right;
    }

}

@media only screen and (min-width: 900px){
    div.contenue{
        margin-left: auto;
        margin-right: auto;
        width: 645px;
    }
}
